.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

/* Marker Styles */
.custom-marker {
  background: transparent;
  border: none;
}

.marker-pin {
  /* Basic transition for the icon scale */
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.marker-pin:hover {
  transform: scale(1.1) translateY(-2px);
}